__pycache__/
*.pyc
.ruff_cache/

data/supplementary/master_plan_land_use.geojson
data/supplementary/hdb_existing_building.geojson
build_dataset.py
enrich_outlets.py

analysis/output/
analysis/toto_analysis.ipynb
data/analysis_ready/outlets_geodata.csv
data/analysis_ready/outlets_modeling.csv
data/analysis_ready/win_history_enriched.csv
data/analysis_ready/win_history_extended.csv
docs/
